Multiplying one or two-digit number y by 11 is very simple. All we need to do first is to add the
two digits of y together. If the sum is less or equal to 9, put the sum in between the two digits to
get the answer. For instance, to compute 08 X 11, 0 + 8 = 8, answer = 088. Now given 26 X
11; 2 + 6 = 8, answer = 286. The sum, 8 is put in between 2 and 6 to get the answer.
However, if the sum is greater or equal to 10, subtract the sum from 10 to get the middle value,
add 1 to the first digit of y. The final result will now be newFirstDigit followed by midValue and
finally followed by the last Digit of y. For instance, given 49 X 11; 4 + 9 = 13, which is greater
than 10. Then, to get the midValue, 13 - 10 = 3, Add 1 to 4 to get the newFirstDigit (= 5). The
final answer becomes 539.
Write a Program to multiply any one or two-digit number by 11.

In [7]:
## Answer
y = int(input("Enter a 1 or 2-digit number: "))
# Convert to string to work with digits, pad with zero if single digit
y_str = str(y).zfill(2)
first_digit = int(y_str[0])
last_digit = int(y_str[1])
# Add the two digits
digit_sum = first_digit + last_digit
print(f"First digit: {first_digit}, Last digit: {last_digit}")
print(f"Sum of digits: {digit_sum}")
# Apply the multiplication rule
if digit_sum <= 9:
# Put sum between the two digits
    result = int(str(first_digit) + str(digit_sum) + str(last_digit))
    print(f"Since sum <= 9, put sum between digits")
else:
# Sum >= 10: subtract 10 from sum for middle, add 1 to first digit
    mid_value = digit_sum - 10
    new_first_digit = first_digit + 1
    result = int(str(new_first_digit) + str(mid_value) + str(last_digit))
    print(f"Since sum >= 10, middle value = {digit_sum} - 10 = {mid_value}")
    print(f"New first digit = {first_digit} + 1 = {new_first_digit}")
print(f"Final Answer: {y} × 11 = {result}")

First digit: 7, Last digit: 7
Sum of digits: 14
Since sum >= 10, middle value = 14 - 10 = 4
New first digit = 7 + 1 = 8
Final Answer: 77 × 11 = 847

Five candidates (Taiwo, Kenny, Usman, Nkechi, and Ofure) took part in a University Entrance
Examination comprising of four Subjects (English, Mathematics, Physics and Chemistry. The
scores obtained in each of the subjects are depicted below:
Eng Maths Phy Chem
Taiwo 56 43 57 60
Kenny 76 56 67 68
Usman 47 38 75 59
Nkechi 37 49 64 58
Ofure 58 75 57 60
Write codes to print out
(i) Average or mean score per student [5 marks]
(ii) The maximum score [5 marks]
(iii) The student and the Subject with the maximum score [5 marks]
(iv) The number of students that score the mean score and above [5 marks]

In [17]:
# Student data
students = ["Taiwo", "Kenny", "Usman", "Nkechi", "Ofure"]
subjects = ["English", "Maths", "Physics", "Chemistry"]

scores = [
    [56,43,57,60], # Taiwo
    [76,56,67,68], # Kenny
    [47,38,75,59], # Usman
    [37,49,64,58], # Nkechi
    [58,75,57,60] # Ofure
]

print("Student Score Data")
print("Name\t\tEng\t\tMaths\tPhy\t\tChem")
print("-" * 45)

for i in range(len(students)):
   print(f"{students[i]}\t\t{scores[i][0]}\t\t{scores[i][1]}\t\t{scores[i][2]}\t\t{scores[i][3]}")

# (i) Average score per student
student_averages = []
for i in range(len(students)):
    total = sum(scores[i])
    average = total / len(subjects)
    student_averages.append(average)
    print(f"{students[i]}: Total = {total}, Average = {average:.2f}")

# (ii) The maximum score
max_score = 0
for row in scores:
    for score in row:
        if score > max_score:
            max_score = score
    print(f"Maximum score: {max_score}")

# (iii) Student and subject with maximum score
print("\n(iii) Student and subject with maximum score")
max_student = ""
max_subject = ""
for i in range(len(students)):
    for j in range(len(subjects)):
        if scores[i][j] == max_score:
            max_student = students[i]
            max_subject = subjects[j]
print(f"Student: {max_student}, Subject: {max_subject}")

# (iv) Students scoring mean and above
overall_mean = sum(student_averages)/len(student_averages)
count_above_mean = 0
print(f"\n(iv) Overall mean score: {overall_mean:.2f}")
print("Students scoring mean and above:")
for i in range(len(students)):
    if student_averages[i] >= overall_mean:
        count_above_mean += 1
        print(f" {students[i]}: {student_averages[i]:.2f}")
print(f"Total students scoring mean and above: {count_above_mean}")

Student Score Data
Name		Eng		Maths	Phy		Chem
---------------------------------------------
Taiwo		56		43		57		60
Kenny		76		56		67		68
Usman		47		38		75		59
Nkechi		37		49		64		58
Ofure		58		75		57		60
Taiwo: Total = 216, Average = 54.00
Kenny: Total = 267, Average = 66.75
Usman: Total = 219, Average = 54.75
Nkechi: Total = 208, Average = 52.00
Ofure: Total = 250, Average = 62.50
Maximum score: 60
Maximum score: 76
Maximum score: 76
Maximum score: 76
Maximum score: 76

(iii) Student and subject with maximum score
Student: Kenny, Subject: English

(iv) Overall mean score: 58.00
Students scoring mean and above:
 Kenny: 66.75
 Ofure: 62.50
Total students scoring mean and above: 2

Question 3:
In ABC Company Staff's basic salaries depends on the categories where the ages fall, such as:
text
Age category Salary
18 - 25 35,000
26 - 40 50,000
41 - 60 75,000
61 - 65 100,000
In any case, 5% is deducted in the salary of each staff as tax per month. Each staff also
contributes 2% of his/her salary to contributory pension scheme. At the end of this year, the
company is planning to give each staff 10% bonus to every staff. Assuming the ages of the
staffers in the company are stored in a linear array of size n, where n is the number of the
staffers; write an OOP-based program to compute:
(i). Total number of staff in each age category
(ii) Total take-home of each staff in each category by December ending
(iii) Total amount of money needed to pay December salary of staff in each category
(iv) Total amount that will cost the company to pay all staff by December [20 marks]

In [20]:
# Ages of staff in the company
ages = [22, 28, 34, 45, 50, 63, 25, 41, 39, 60]

# Salary categories
# Age category: salary
categories = {
    "18-25": 35000,
    "26-40": 50000,
    "41-60": 75000,
    "61-65": 100000
}

# For tracking totals
cat_counts = {"18-25": 0,"26-40": 0,"41-60": 0,"61-65": 0}
cat_december_total = {"18-25": 0,"26-40": 0,"41-60": 0,"61-65": 0}

# Loop through all staff
for age in ages:
    # Determine salary by age
    if 18 <= age <= 25:
        salary = 35000
        cat = "18-25"
    elif 26 <= age <= 40:
        salary = 50000
        cat = "26-40"
    elif 41 <= age <= 60:
        salary = 75000
        cat = "41-60"
    elif 61 <= age <= 65:
        salary = 100000
        cat = "61-65"

    # Deduct tax (5%) and pension (2%)
    netMonthly = salary - (0.05 * salary) - (0.02 * salary)

    # Yearly total (12 months)
    yearly = netMonthly * 12

    # Add December bonus of 10% of salary
    decemberTakeHome = netMonthly + (0.1 * salary)

    # Add to category counts
    cat_counts[cat] += 1

    # Add to category December salary pool
    cat_december_total[cat] += decemberTakeHome

# (i) Total number of staff in each age category
print("Staff per category:", cat_counts)

# (ii) Take-home per staff in each category for December
print("Total December salary by category:", cat_december_total)

# (iii) Amount needed for December salary per category
for c in cat_december_total:
    print("Category",c ,"needs", cat_december_total[c])

# (iv) Total cost for the company in December
companyTotal = sum(cat_december_total.values())
print("Total company December payout:", companyTotal)

Staff per category: {'18-25': 2, '26-40': 3, '41-60': 4, '61-65': 1}
Total December salary by category: {'18-25': 72100.0, '26-40': 154500.0, '41-60': 309000.0, '61-65': 103000.0}
Category 18-25 needs 72100.0
Category 26-40 needs 154500.0
Category 41-60 needs 309000.0
Category 61-65 needs 103000.0
Total company December payout: 638600.0